* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.Admin-container {
    display: flex;
    flex-direction: row;

    .Admin-Content {
        width: 100%;

        .Admin-header {
            height: 50px;
            width: 100%;
            padding: 0 10px;
            background-color: rgba(0, 16, 63, 0.8);
            color: white;

            h1 {
                line-height: 50px;
            }
        }
    }

}