* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Admin-container {
    display: flex;
    flex-direction: row;


    .Admin-Content {
        width: 100%;

        .Admin-header {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            height: 50px;
            width: 100%;
            padding: 0 10px;
            background-color: rgba(0, 16, 63, 0.8);
            color: white;

            h1 {
                line-height: 50px;
            }

            .r-nav {
                display: flex;
                align-items: center;
                flex-direction: row;
                font-weight: 700;

                .choose-language {
                    .absolute-div {
                        .choose-language__item {
                            color: white;

                            &:hover {
                                color: rgba(0, 16, 63, 0.8);
                            }
                        }
                    }
                }
            }
        }

        .Admin-main {
            width: 100%;
            height: calc(100vh - 50px);
        }
    }

}