.login-container {
    background-color: #F7F6F2;
    height: 100vh;

    .Header {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 10px;
        font-weight: 500;

        a {
            padding: 0.5rem 1rem;
            margin: 0 0.5rem;
            cursor: pointer;
            font-size: 1rem;
            font-weight: 400;
            border-radius: 5px;
            border: 1px solid aquamarine;
            background-color: rgba(0, 0, 0, 0.5);
            color: aquamarine;

            text-decoration: none;

            &:hover {
                background-color: #333;
                color: aquamarine;
            }
        }
    }

    .Content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        margin: 5rem auto 0;

        .Welcome {
            font-size: 1.5rem;
            font-weight: 500;
            margin-bottom: 1rem;
            text-align: center;
        }

        .Login-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1rem;
            width: min(60%, 550px);


            .Login-input {

                width: 100%;

                .inputInfo {
                    display: flex;
                    flex-direction: column;

                    label {
                        font-size: 1rem;
                        font-weight: 500;
                    }

                    input {
                        padding: 1rem;
                        margin: 0.5rem 0 1rem;
                        border-radius: 5px;
                        border: 1px solid #9b9b9b;
                        width: 100%;
                    }



                }

                .password-group {
                    position: relative;

                    .show-password {
                        position: absolute;
                        right: 10px;
                        bottom: 28px;

                        svg {
                            color: #000;
                            cursor: pointer;

                            &:hover {
                                background-color: #ccc;
                                border-radius: 3px;
                            }
                        }

                    }
                }
            }

            .forgot-password {
                margin-top: 1rem;
                font-size: 0.8rem;
                width: 100%;
                font-style: italic;
                text-align: left;
                color: #333;
                cursor: pointer;
            }

            button {
                width: 100%;
                padding: 0.5rem 1rem;
                margin: 1rem 0;
                cursor: pointer;
                font-size: 1rem;
                font-weight: 400;
                border-radius: 5px;
                border: none;
                background-color: aquamarine;
                color: #333;
                user-select: none;
                position: relative;

                &:hover {
                    background-color: #333;
                    color: aquamarine;
                }

                &:disabled {
                    background-color: #ccc;
                    color: #333;
                    cursor: not-allowed;
                }

                .spinner-container {

                    position: absolute;
                    left: 30%;
                    top: 25%;

                    .spinner {
                        color: rgb(0, 140, 255);
                        animation: spining 0.5s linear infinite;
                    }

                    @keyframes spining {
                        0% {
                            transform: rotate(0deg);
                        }

                        100% {
                            transform: rotate(360deg);
                        }

                    }
                }
            }

            .back-home {
                margin-top: 1rem;
                font-size: 0.8rem;
                width: 100%;
                font-style: italic;
                text-align: center;
                color: #333;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

}